{% extends 'main/base.html' %}
{%load static%}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock extra_styles %}

{% block title %}
Register
{% endblock title %}
  


{% block content %}

<div class="container reg">
  {% load crispy_forms_tags %}
  <h2 class='text-center reg-text'>Register Page</h2>
  <form if='registeroform' class='formregister' action="" method='post'>
    {% csrf_token %}
    {% if form.errors %}
<div role='alert' class='alert alert-danger alert-dismissible fade show'>
  
  {% for field in form  %}
    
    {% if field.errors %}
    {{field.errors}}
      
    {% endif %}
      
  {% endfor %}
    <button type='btn' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
</div>
  
{% endif %}

      
  {{form|crispy}}
  <div class=>
    <button type='submit' class='btn register mt-1 text-center'>Register</button>

  </div>
  <p >if you have an account <a class='btn register' href="{% url 'main:home' %}">Login</a></p>

  </form>
</div>

{% endblock content %}
  